@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #090b1a;
  padding: 1.5rem;
}

.stat-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
  background: #1b1938;
}

.stat-card .stat-image {
  border-radius: 15px;
  width: 100%;
  position: relative;
}

.stat-card .stat-image img {
  border-radius: 15px 15px 0px 0px;
  display: block;
  width: 100%;
}

.stat-card .stat-image::before {
  border-radius: 15px;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #aa5cdb;
  opacity: 0.5;
}

.stat-card .stat-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: 1rem;
  padding: 2rem;
}

.stat-card .stat-details .stat-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  gap: 1rem;
}

.stat-card .stat-details .stat-title h1 {
  font-family: "Inter", sans-serif;
  text-align: center;
  font-size: 1.7rem;
  color: white;
}

.stat-card .stat-details .stat-title h1 span {
  color: #aa5cdb;
}

.stat-card .stat-details .stat-title p {
  font-family: "Inter", sans-serif;
  text-align: center;
  color: rgba(255, 255, 255, 0.75);
}

.stat-card .stat-details .stat-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.stat-card .stat-details .stat-data .stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stat-card .stat-details .stat-data .stat span:nth-child(1) {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: white;
}

.stat-card .stat-details .stat-data .stat span:nth-child(2) {
  font-family: "Lexend Deca", sans-serif;
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.8rem;
}
